body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: max-content;
}

/* Login & sign up */
#login h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #a84316;
  font-weight: bolder;
  font-size: xx-large;
}

.logo {
  position: relative;
  display: grid;
  border-radius: 50%;
  border: 1px solid #a84316;
}

#apple-logo {
  position: relative;
  display: grid;
  margin: auto;
}

#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 500px;
  height: max-content;
  background-color: #ffffff;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  padding-bottom: 2rem;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 3rem;
}

#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.required,
option .required {
  color: red;
}

.footer {
  float: bottom;
  background-color: #a84316;
}

.copyright {
  padding: 20px 0px;
  text-align: center;
  display: flex;
}

.copyright .rules {
  position: absolute;
  right: 50px;
}

.copyright p {
  color: rgb(225, 222, 222);
  font-size: 60%;
  padding-left: 5px;
}

.icon {
  color: #a84316;
  position: relative;
}

.carousel-item img {
  height: 100vh;

  object-fit: cover;
}

/* login & sign up */

/* Navigation Bar */
.navbar .dayStar-logo {
  font-family: "mali";
  font-weight: bolder;
  font-size: 1.5rem;
  color: #a84316;
  transition: all 90ms;
}

.navbar .dayStar-logo:hover {
  color: #a84316;
  transform: scale(1.1);
}

.navbar-toggler {
  padding: 0.1rem;
  background: rgb(209, 205, 205);
}

/* Navigation bar */

#centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 0.5rem 1rem;
  z-index: 3;
  transform: translate(-50%, -50%);
}

#centered-text h1 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  color: rgb(22, 86, 97);
}

#centered-text h6 {
  text-align: center;
  color: #8e4323;
  font-family: "mali";
}

#centered {
  position: absolute;
  top: 90%;
  left: 50%;
  padding: 0.5rem 1rem;
  z-index: 3;
  transform: translate(-50%, -50%);
}

#centered button {
  color: black;
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  margin: 1rem;
  font-size: 3ch;
  font-family: "mali";
  transition: all 90ms;
}

#centered .login {
  background-color: #a84316;
  color: white;
  border: none;
}

#centered .login:hover {
  background-color: #8e4323;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.1);
}

#centered .signUp {
  background-color: rgb(34, 125, 141);
  color: white;
  border: none;
}

#centered .signUp:hover {
  background-color: rgb(22, 86, 97);
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.1);
}

.row .col-3 {
  display: grid;
  margin: auto;
  justify-content: center;
}

/* login and sign up */
#submit-data {
  background-color: rgb(22, 86, 97);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
}

#submit-data:hover {
  background-color: rgb(34, 125, 141);
  color: white;
}

form a {
  color: #a84316;
}
/*  */

/* registry page */
.card-body .text-center {
  color: #a84316;
}

#back {
  background: #a84316;
  display: inline-block;
  position: absolute;
  padding: 0.5rem 1rem;
  left: -10rem;
  bottom: 0.5rem;
  color: black;
}

#back:hover {
  background: #8e4323;
}

#back .icon {
  color: white;
  padding: 0 0.5rem 0 0.5rem;
}

/* Dashboard */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}



.sidebar-sticky {
  position: absolute;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: auto;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-item .badge {
  position: absolute;
  top: 0;
  margin-left: -15px;
  display: inline;
  padding: 0.15em 0.35em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;
  border-radius: 0.25rem;
}
