body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: max-content;
}

/* Login & sign up */
#login h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #a74527;
  font-weight: bolder;
  font-size: xx-large;
}

.logo {
  position: relative;
  display: block;
  border-radius: 50%;
  border: 1px solid #a74527;
}

#apple-logo {
  position: relative;
  display: grid;
  margin: auto;
}

#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 500px;
  height: max-content;
  background-color: #ffffff;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  padding-bottom: 2rem;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 3rem;
}

#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.required,
option .required {
  color: red;
}

/* registry */
.form-label{
  margin-bottom: 0.2rem;
}
.footer {
  float: bottom;
  background-color: #a74527;
}

.copyright {
  padding: 20px 0px;
  text-align: center;
  display: flex;
}

.copyright .rules {
  position: absolute;
  right: 50px;
}

.copyright p, .copyright a {
  color: rgb(225, 222, 222);
  font-size: 80%;
  padding-left: 5px;
}

.icon {
  color: #a74527;
  position: relative;
}

.carousel-item img {
  height: 100vh;

  object-fit: cover;
}

/* login & sign up */

/* Navigation Bar */
header .dayStar-logo, .navbar .dayStar-logo {
  font-family: "mali";
  font-weight: bolder;
  font-size: 1.5rem;
  color: #a74527;
  transition: all 90ms;
}

header .dayStar-logo:hover, .navbar .dayStar-logo:hover {
  color: #a74527;
  transform: scale(1.05);
}

.navbar-toggler {
  padding: 0.1rem;
  background: #b5b4b4;
}

/* Navigation bar */

#centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 0.5rem 1rem;
  z-index: 3;
  transform: translate(-50%, -50%);
}

#centered-text h1 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  color: #1e7875;
}

#centered-text h6 {
  text-align: center;
  color: #a74527;
  font-family: "mali";
}

#centered {
  position: absolute;
  top: 90%;
  left: 50%;
  padding: 0.5rem 1rem;
  z-index: 3;
  transform: translate(-50%, -50%);
}

#centered button {
  color: black;
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  margin: 1rem;
  font-size: 3ch;
  font-family: "mali";
  transition: all 90ms;
}

#centered .login {
  background-color: #a74527;
  color: white;
  border: none;
}

#centered .login:hover {
  background-color: #d04f24;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.1);
}

#centered .signUp {
  background-color: #1e7875;
  color: white;
  border: none;
}

#centered .signUp:hover {
  background-color: rgb(34, 125, 141);
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.1);
}

.row .col-3 {
  display: grid;
  margin: auto;
  justify-content: center;
}

/* login and sign up */
#submit-data {
  background-color: #1e7875;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
}

#submit-data:hover {
  background-color: rgb(34, 125, 141);
  color: white;
}

form a {
  color: #a74527;
}
/*  */

/* registry page */
.card-body .text-center {
  color: #a74527;
}

#back {
  background: #a74527;
  display: inline-block;
  position: absolute;
  padding: 0.5rem 1rem;
  left: -10rem;
  bottom: 0.5rem;
  color: black;
}

#back:hover {
  background: #a74527;
}

#back .icon {
  color: white;
  padding: 0 0.5rem 0 0.5rem;
}

/* sideNav */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #a74527;
  width: 250px;
  overflow-y: auto;
}

#sidebarMenu {
  top: 2cm;
}

.sidebar .list-group-item {
  padding: 0px 20px;
}

.sidebar .list-group-item:hover {
  background-color: #f8f9fa;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80%;
    position: absolute;
    height: auto;
  }

  .content {
    margin-left: 0;
  }
}
