body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: max-content;
}

/* Login & sign up */
#login h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #a84316;
  font-weight: bolder;
  font-size: xx-large;
}

.logo{
  position: relative;
  display: grid;
  border-radius: 50%;
  border: 1px solid #a84316;

}

#apple-logo{
  position: relative;
  display: grid;
  margin: auto;
}


#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 500px;
  height: max-content;
  background-color: #ffffff;
  box-shadow: 0 11px 34px 0 rgba(0,0,0,.2);
  border-radius: 34px;
  padding-bottom: 2rem;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 3rem;
}


#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.required {
  color: red;
}

.footer{
  
  float: bottom;
  background-color: #a84316;
}


.copyright {
  padding: 20px 0px;
  text-align: center;
  display: flex;
}

.copyright .rules{
  position: absolute;
  right: 50px;
}


.copyright p{ 
  color: rgb(225, 222, 222);
  font-size: 60%;
  padding-left: 5px;
}

.icon{
  color: red;
  position: relative; 
  top: 0px;
}

.carousel-item img {
  height: 100vh;

  object-fit: cover;
}

/* login & sign up */

/* Navigation Bar */
.navbar .dayStar-logo{
  font-family: 'mali';
  font-weight: bolder;
  font-size: 1.5rem;
  color: #a84316;
  transition: all 90ms;
}

.navbar .dayStar-logo:hover{
  color: #a84316;
  transform: scale(1.1);
}



.navbar-toggler{
  padding: 0.1rem;
  background: rgb(209, 205, 205);
  
}


/* Navigation bar */


#centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 0.5rem 1rem;
  z-index: 3;
  transform: translate(-50%, -50%);
}

#centered-text h1{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;

}

#centered-text h6{
  text-align: center;
}



#centered {
  position: absolute;
  top: 90%;
  left: 50%;
  padding: 0.5rem 1rem;
  z-index: 3;
  transform: translate(-50%, -50%);
}

#centered button{
  color: black; 
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  margin: 1rem;
  font-size: 3ch;
  font-family: 'mali';
  transition: all 90ms;
}

#centered .login{
  background-color: #a84316;
  color: white;
  border: none;
  
}

#centered .login:hover{
  background-color: #8e4323;
  box-shadow: 0 11px 34px 0 rgba(0,0,0,.2);
  color: white;
  transform: scale(1.1);
  
}

#centered .signUp{
  background-color: rgb(34, 125, 141);
  color: white;
  border: none;
  
}

#centered .signUp:hover{
  background-color: rgb(22, 86, 97);
  box-shadow: 0 11px 34px 0 rgba(0,0,0,.2);
  color: white;
  transform: scale(1.1);

}